.display-none {
    display: none;
}

/* PC表示 */
@media screen and (min-width: 767px) {
    .display-pc {
        display: table-cell;;
    }
}

/* SP表示 */
@media screen and (max-width: 479px) {
    .display-sp {
        display: table-cell;;
    }
}
