h1{
    text-align: center;
}

.newpdf-container{
    padding: 1.5em;
    box-shadow: 0 0 12px #bbb;
    border-radius: 16px;
}

.item-conteiner-top{
    margin-top: 30px;
}

.am, .pm {
    margin-right: 13px;
}

.weather-icon {
    margin-left: 5px;
}
