.item-conteiner-top{
    margin-top: 30px;
}

.am, .pm, .result {
    margin-right: 13px;
}

.weather-icon {
    margin-left: 5px;
}

.required {
    color: red;
    font-size: 20px;
}

.select-checker-container {
    position: relative;
}

.select-checker {
    height: 0px!important;
    width: 0px!important;
    opacity: 0!important;
    position:absolute; top:70px; left:70px
}

.patrol-textarea {
    resize: none;
    border-radius: 10px;
}

.file-upload-container{
    margin-top: 10px;
}

.photo {
    width:180px;
}

.cssacc {
    display: none;
}

.label-font {
    font-size: 28px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
}

.unit_price_wrapper {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(100, 100, 100, .8);
    z-index: 2;
}

.unit_price_input {
    margin: 20px;
    padding: 20px 0 10px 40px;
    border-radius: 20px;
    background: #ffffff;
    z-index: 3;
}

.unit_price_form_item {
    margin: 30px 0 40px 0;
}

.unit_price_form_submit {
    margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
    .construction-name {
        width: 400px!important;
    }
    .work-volume {
        width: 360px;
    }
    .cells-containre {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 479px) {
    .construction-name {
        width: 300px!important;
    }
    .work-volume {
        width: 300px;
    }
    .inputform {
        display: block;
        margin-bottom: 10px;
    }
    .cells-containre {
        margin-bottom: 50px;
    }
    .patrol-textarea {
        width: 100%;
    }


    /* アコーディオンメニュー */
    /*ボックス全体*/
    .accbox {
        margin: 2em 0;
        padding: 0;
        max-width: 400px;/*最大幅*/
    }
    /*ラベル*/
    .accbox label {
        display: block;
        margin: 1.5px 0;
        padding : 13px 12px;
        font-weight: bold;
        cursor :pointer;
        transition: all 0.5s;
    }
    /*アイコンを表示*/
    .accbox label:before {
        content: '\f054';
        font-family: 'FontAwesome';
        padding-right: 8px;
        vertical-align: super;
    }
    /*中身を非表示にしておく*/
    .accbox .accshow {
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
    }
    /*クリックで中身表示*/
    .cssacc:checked + label + .accshow {
        height: auto;
        padding: 5px;
        opacity: 1;
    }
    .accbox .accshow p {
        margin: 15px 10px}
    /*アイコンを入れ替える*/
    .cssacc:checked + label:before {
        content: '\f078';
    }
    /* アコーディオンメニュー */

}









/* バツボタン */
.close-icon div {
    display: block;
    height: 2px;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 20px;
}
.close-icon div:first-child {
    transform: translate3d(0px, 10px, 0px) rotate3d(0, 0, 1, -45deg);
}
.close-icon div:first-child::after, .close-icon div:first-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.close-icon div:last-child {
    transform: translate3d(0px, 8px, 0px) rotate3d(0, 0, 1, 45deg);
}
.close-icon div:last-child::after, .close-icon div:last-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;
}
.close-icon div::after, .close-icon div::before {
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.close-icon div::before {
    background: none repeat scroll 0 0 red;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.close-icon div::after {
    background: none repeat scroll 0 0 #333;
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}
.close-icon:hover div::before {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}
.close-icon:hover div::after {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Useless style */
.close-icon {
  margin-left: auto;
  width: 50px;
}
