.item-conteiner-top{
    margin-top: 30px;
}

.am, .pm, .result {
    margin-right: 13px;
}

.weather-icon {
    margin-left: 5px;
}

@media screen and (min-width: 767px) {
    .construction-name {
        width: 400px!important;
    }
    .work-volume {
        width: 360px;
    }
    .cells-containre {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 479px) {
    .construction-name {
        width: 300px!important;
    }
    .work-volume {
        width: 300px;
    }
    .inputform {
        display: block;
        margin-bottom: 10px;
    }
    .cells-containre {
        margin-bottom: 50px;
    }
}
