.construction-name {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.photo-cell {
    background-color: #ccc;
    margin: 5px;
}

.photo-info {
    padding : 5px;
}

.photo {
    width:180px;
    /* 画像表示サイズ変更処理 */
}

.refine {
    width: 90%;
    margin: 10px auto;
}

.btn-reset {
    background-color: #CCC;
}

@media screen and (min-width: 767px) {
    .construction-form-name {
        width: 400px!important;
    }
}
@media screen and (max-width: 479px) {
    .construction-form-name {
        width: 300px!important;
    }
}

.select-choiced {
    border: 2px solid #0066FF!important;
}
