.detail-dailyreport-wrapper {
    width: 90%;
    height: auto;
    overflow: scroll;
    margin: 10px auto;
}

.signature-wrapper {
    width: 90%;
    height: auto;
    overflow: scroll;
    margin: 10px auto;
}

.datail-table {
    text-align: left;
}

.btn-container {
    display: flex;
}

.btn {
    margin: 5px 0;
}

.photo-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.photo-cell {
    padding: 5px;
    width: 170px;
}
