.dailyreport {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-new-pdf {
    padding: 15px 50px;
    font-size: 30px;
}

.dailyreport {
    margin: 10px;
    font-size: 20px;
}

.btn-create-pdf {
    background-color: #CCC;
}

.photo-btn {
    background-color: #FF9800;
}

.edit-construction-btn {
    background-color: #FF4C4C;
}

.btn-dataexport {
    background-color: #217445;
}


.delete-submit {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

/* table css */
table {
    border-collapse: collapse;
    border: solid 2px orange;/*表全体を線で囲う*/
    text-align: center;
    white-space: nowrap;
}

table th {/*table内のthに対して*/
    padding: 10px;/*上下左右10pxずつ*/
}

table td {/*table内のtdに対して*/
    padding: 3px 10px;/*上下3pxで左右10px*/
}

th {
    color: #FF9800;/*文字色*/
    background: #fff5e5;/*背景色*/
}
/* table css */

@media screen and (max-width: 479px) {
    .btn-dataexport {
        display: none;
    }
}

.container-fluid {
    width: 90%;
    overflow-y: hidden;
    padding-left: 0px;
  }
