.dailyreport-wrapper {
    width: 90%;
    height: 600px;
    overflow: scroll;
    margin: 10px auto;
}

.refine{
    width: 90%;
    margin: 10px auto;
}

.refine-title {
    font-size: 20px;
    font-weight: 800;
}

/* button css */
.btn-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-new-pdf {
    padding: 15px 50px;
    font-size: 30px;
}

.dailyreport {
    margin: 10px;
    font-size: 20px;
}

.btn-create-pdf {
    background-color: #CCC;
}

.photo-btn {
    background-color: #FF9800;
}

.edit-construction-btn {
    background-color: #FF4C4C;
}

.btn-dataexport {
    background-color: #217445;
}

.btn-refine {
    margin: 0;
}

.delete-submit {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

/* button css */

/* table css */
table {
    table-layout: auto;
    width: 100%;
    text-align: center;
    border: solid 2px orange;
}

thead tr th {
    width: 100px;
    position: sticky;
    top: -2px;
    z-index:1;
}

tbody tr th {
    position: sticky;
    left: 0;
}

table th {
    padding: 10px;
}

.table td {
    padding: 5px 10px;
    vertical-align: inherit;
}

th, td {
    padding: 5px 10px;
    white-space: nowrap;
}

th {
    color: #FF9800;
    background: #fff5e5;
}
/* table css */


@media screen and (min-width: 767px) {
    .construction-name {
        width: 400px!important;
    }
}

@media screen and (max-width: 479px) {
    .btn-dataexport {
        display: none;
    }

    .construction-name {
        width: 300px!important;
    }
}

.select-choiced {
    border: 2px solid #0066FF!important;
}
